
lab_02/__pycache__/test_main_max.cpython-312-pytest-7.4.3.pyc
*.json
*.pyc
.idea/csv-editor.xml
trab_final/data/rating_10m.csv
trab_final/data/rating_1m.csv
.idea/csv-editor.xml
trab_final/src/teste.py
*.pyc
trab_final/src/__pycache__/fifa_database.cpython-311.pyc
/labs
data/consultas.csv
data/minirating.csv
data/players.csv
data/rating.csv
data/rating_10m.csv
data/rating_1m.csv
data/tags.csv
